<!DOCTYPE html>
<html lang="{{@site.lang}}">

<head>

    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Base Meta --}}
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{!-- Styles'n'Scripts --}}
    <link rel="stylesheet" type="text/css" href="{{asset "built/screen.css"}}" />

    {{!-- This tag outputs SEO meta+structured data and other important settings --}}
    {{ghost_head}}

</head>

<body class="{{body_class}}">

    <div class="site-wrapper">

        {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}

        {{{body}}}

        {{!-- The footer at the very bottom of the screen --}}


    </div>


    <div class="sc-iRbamj iijtug" id="appFooter">
        <div class="container">
            <div class="leftSection">
                <div><img src="/assets/images/logo.svg" height="40" alt=""></div>
                <p>Android වැඩකාරයෝ is to bring the latest tech news in the Sinhala language, and respects user
                    contributions by letting anyone to contribute and update latest news.</p>
                <div class="socialLinks"><a href="https://www.facebook.com/androidwedakarayo/" target="_blank">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path fill="#3b5998" fill-rule="nonzero"
                                d="M12 0c6.627 0 12 5.373 12 12 0 5.993-4.394 10.96-10.136 11.856v.02a12.225 12.225 0 0 1-1.701.124H12c.634 0 1.257-.05 1.864-.144v-8.82h3.15l.494-3.206h-3.645v-1.752c0-1.332.434-2.513 1.678-2.513h1.997V4.767c-.35-.048-1.093-.152-2.496-.152-2.929 0-4.646 1.55-4.646 5.082v2.133H7.385v3.207h3.01v8.812c.58.087 1.167.147 1.768.15L12 24C5.373 24 0 18.627 0 12S5.373 0 12 0z">
                            </path>
                        </svg></a><a href="https://twitter.com/androidwdlka" target="_blank"><svg
                            xmlns="http://www.w3.org/2000/svg" width="25" height="20" viewBox="0 0 25 20">
                            <path fill="#00acee" fill-rule="nonzero"
                                d="M25 2.365a9.96 9.96 0 0 1-2.87.801A5.071 5.071 0 0 0 24.327.368a9.896 9.896 0 0 1-3.17 1.224A4.937 4.937 0 0 0 17.516 0c-2.756 0-4.99 2.26-4.99 5.048 0 .395.045.779.13 1.152C8.509 5.988 4.83 3.975 2.37.921a5.065 5.065 0 0 0-.675 2.542c0 1.753.879 3.296 2.22 4.205a5.003 5.003 0 0 1-2.264-.63v.059c0 2.449 1.721 4.488 4.002 4.952a4.87 4.87 0 0 1-1.311.181c-.322 0-.637-.037-.94-.093.634 2.002 2.477 3.464 4.66 3.508a9.955 9.955 0 0 1-7.388 2.09A14.052 14.052 0 0 0 8.325 20c9.18 0 14.2-7.694 14.2-14.368 0-.219-.006-.437-.016-.652A9.931 9.931 0 0 0 25 2.365">
                            </path>
                        </svg></a><a href="https://www.instagram.com/androidwedakarayo/" target="_blank"><img
                            src="/assets/images/insta.svg " width="26" height="26"></a><a
                        href="https://www.youtube.com/channel/UCBYFBHWwOwXZlgRvwtmc1qw" target="_blank"><svg
                            xmlns="http://www.w3.org/2000/svg" width="27" height="20" viewBox="0 0 27 20">
                            <path fill="#c4302b" fill-rule="nonzero"
                                d="M13.333 0c4.134 0 7.734.4 10 .733 1.4.2 2.534 1.267 2.8 2.667.267 1.533.6 3.8.6 6.6-.066 2.8-.333 5.067-.6 6.6a3.329 3.329 0 0 1-2.8 2.667c-2.2.333-5.866.733-10 .733-4.066 0-7.733-.4-10-.733a3.329 3.329 0 0 1-2.8-2.667C.267 15.067 0 12.8 0 10s.267-5.067.533-6.6a3.329 3.329 0 0 1 2.8-2.667C5.533.4 9.2 0 13.333 0zm-2.666 5.333v9.334l8-4.667-8-4.667z">
                            </path>
                        </svg></a>
                    <a href="https://podcasts.apple.com/us/podcast/android-%e0%b7%80-%e0%b6%a9%e0%b6%9a-%e0%b6%bb%e0%b6%ba/id1512647468"
                        style="color: #872EC4;">
                        <i class="fas fa-podcast fa-lg"></i>
                    </a>
                    <a href="https://open.spotify.com/show/3mLVk0itdRn2yZ3FFFmyok" style="color: #1DB954;">
                        <i class="fab fa-spotify fa-lg"></i>
                    </a>
                    <a href="https://androidwedakarayo.com/rss" target="_blank"><svg xmlns="http://www.w3.org/2000/svg"
                            width="20" height="20" viewBox="0 0 20 20">
                            <path fill="#ee802f" fill-rule="nonzero"
                                d="M0 0h1.667C11.775 0 20 8.225 20 18.333V20h-3.333v-1.667c0-8.271-6.729-15-15-15H0V0zm0 6.667h1.667c6.431 0 11.666 5.235 11.666 11.666V20H10v-1.667C10 13.738 6.262 10 1.667 10H0V6.667zM2.5 15a2.5 2.5 0 0 1 0 5 2.5 2.5 0 0 1 0-5z">
                            </path>
                        </svg></a>
                </div>
                <div class="copyright">
                    <p>Copyright © 2020 Android වැඩකාරයෝ - A Gavnyx Media Company. All Rights Reserved.
                    </p>
                </div>
            </div>
            <div class="rightSection">
                <div class="links">
                    <div class="linkSection">
                        <div><a target="blank" href="/about-us/">About Us</a></div>
                        <div><a target="blank" href="mailto:contact@androidwedakarayo.com">Contact Us</a></div>
                        <div><a target="blank" href="/writers/">Meet the team</a></div>
                        <div><a target="blank" href="/categories/">Categories</a></div>
                    </div>
                    <div class="linkSection">
                        <div><a href="/advertising/">Advertising</a></div>
                        <div><a target="blank" href="/podcast/">Podcast</a></div>
                        <div><a target="blank" href="/privacy-policy/">Privacy Policy</a></div>
                        <div><a target="blank" href="/terms/">Terms</a></div>
                    </div>
                </div>
                <div class="contact">
                    <h5>Email us for general inquiries and copyright information</h5><a
                        href="mailto:contact@androidwedakarayo.com" target="_top">contact@androidwedakarayo.com</a>
                    <p></p>
                    <a href="//www.dmca.com/Protection/Status.aspx?ID=63e61e66-6871-4473-9b20-f76237385cf4"
                        title="DMCA.com Protection Status" class="dmca-badge"> <img
                            src="https://images.dmca.com/Badges/_dmca_premi_badge_5.png?ID=63e61e66-6871-4473-9b20-f76237385cf4"
                            alt="DMCA.com Protection Status" /></a>
                    <script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"> </script>
                    <p></p>
                </div>
            </div>
        </div>
    </div>















    {{!-- The big email subscribe modal content --}}
    {{#if @labs.members}}
    <div class="subscribe-success-message">
        <a class="subscribe-close" href="javascript:;"></a>
        You've successfully subscribed to {{@site.title}}!
    </div>

    <div id="subscribe" class="subscribe-overlay">
        <a class="subscribe-close-overlay" href="#"></a>
        <a class="subscribe-close-button" href="#"></a>
        <div class="subscribe-overlay-content">
            {{#if @site.logo}}
            <img class="subscribe-overlay-logo" src="{{@site.logo}}" alt="{{@site.title}}" />
            {{/if}}
            <div class="subscribe-form">
                <h1 class="subscribe-overlay-title">Subscribe to {{@site.title}}</h1>
                <p class="subscribe-overlay-description">Stay up to date! Get all the latest & greatest posts delivered
                    straight to your inbox</p>
                <form data-members-form="subscribe">
                    <div class="form-group">
                        <input class="subscribe-email" data-members-email placeholder="youremail@example.com"
                            autocomplete="false" />
                        <button class="button primary" type="submit">
                            <span class="button-content">Subscribe</span>
                            <span class="button-loader">{{> "icons/loader"}}</span>
                        </button>
                    </div>
                    <div class="message-success">
                        <strong>Great!</strong> Check your inbox and click the link to confirm your subscription.
                    </div>
                    <div class="message-error">
                        Please enter a valid email address!
                    </div>
                </form>
            </div>
        </div>
    </div>
    {{/if}}

    {{!-- jQuery, required for fitvids --}}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
        </script>
    {{!-- Fitvids (for responsive video embeds), infinite scroll, floating header, and gallery card support --}}
    <script src="{{asset "built/casper.js"}}"></script>
    <script src="{{asset "js/embla.js"}}"></script>

    {{!-- Scripts for Members subscription --}}
    <script>
        // Parse the URL parameter
        function getParameterByName(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }

        // Give the parameter a variable name
        var action = getParameterByName('action');

        $(document).ready(function () {
            if (action == 'subscribe') {
                $('body').addClass("subscribe-success");
            }

            $('.subscribe-success-message .subscribe-close').click(function () {
                $('.subscribe-success-message').addClass('close');
            });

            // Reset form on opening subscrion overlay
            $('.subscribe-button').click(function () {
                $('.subscribe-overlay form').removeClass();
                $('.subscribe-email').val('');
            });
        });
    </script>

    <script>$(document).ready(function () { var nav = document.querySelector('.site-nav-main .site-nav'); var feed = document.querySelector('.posts'); var lastScrollY = window.scrollY; var lastWindowHeight = window.innerHeight; var lastDocumentHeight = $(document).height(); var ticking = false; function onScroll() { lastScrollY = window.scrollY; requestTick(); } function onResize() { lastWindowHeight = window.innerHeight; lastDocumentHeight = $(document).height(); requestTick(); } function requestTick() { if (!ticking) { requestAnimationFrame(update); } ticking = true; } function update() { var trigger = feed.getBoundingClientRect().top + window.scrollY; var progressMax = lastDocumentHeight - lastWindowHeight; if (lastScrollY >= trigger - 20) { nav.classList.add('fixed-nav-active'); } else { nav.classList.remove('fixed-nav-active'); } ticking = false; } window.addEventListener('scroll', onScroll, { passive: true }); window.addEventListener('resize', onResize, false); update(); const setupPrevNextBtns = (prevBtn, nextBtn, embla) => { prevBtn.addEventListener("click", embla.scrollPrev, false); nextBtn.addEventListener("click", embla.scrollNext, false); }; const disablePrevNextBtns = (prevBtn, nextBtn, embla) => { return () => { if (embla.canScrollPrev()) prevBtn.removeAttribute("disabled"); else prevBtn.setAttribute("disabled", "disabled"); if (embla.canScrollNext()) nextBtn.removeAttribute("disabled"); else nextBtn.setAttribute("disabled", "disabled"); }; }; const setupDotBtns = (dotsArray, embla) => { dotsArray.forEach((dotNode, i) => { dotNode.classList.add('embla__dot'); dotNode.addEventListener('click', () => embla.scrollTo(i), false); }); }; const generateDotBtns = (dots, embla) => { const scrollSnaps = embla.scrollSnapList(); const dotsFrag = document.createDocumentFragment(); const dotsArray = scrollSnaps.map(() => document.createElement('button')); dotsArray.forEach(dotNode => dotsFrag.appendChild(dotNode)); dots.appendChild(dotsFrag); return dotsArray; }; const selectDotBtn = (dotsArray, embla) => () => { const previous = embla.previousScrollSnap(); const selected = embla.selectedScrollSnap(); dotsArray[previous].classList.remove('is-selected'); dotsArray[selected].classList.add('is-selected'); }; const wrap = document.querySelector(".embla"); const viewPort = wrap.querySelector(".embla__viewport"); const prevBtn = wrap.querySelector(".embla__button--prev"); const nextBtn = wrap.querySelector(".embla__button--next"); const dots = wrap.querySelector(".embla__dots"); const radioButtons = document.querySelectorAll(".radio__input"); const radioButtonsArray = [].slice.call(radioButtons); const embla = EmblaCarousel(viewPort, { loop: true }); const dotsArray = generateDotBtns(dots, embla); const setSelectedDotBtn = selectDotBtn(dotsArray, embla); const disablePrevAndNextBtns = disablePrevNextBtns(prevBtn, nextBtn, embla); setupPrevNextBtns(prevBtn, nextBtn, embla); setupDotBtns(dotsArray, embla); embla.on("select", setSelectedDotBtn); embla.on("select", disablePrevAndNextBtns); embla.on("init", setSelectedDotBtn); embla.on("init", disablePrevAndNextBtns); });</script>





    <script
        src="https://cdn.jsdelivr.net/gh/gmfmi/searchinghost-easy@1.0.0/dist/searchinghost-easy-backpack.js"></script>
    <script>
        new SearchinGhostEasy({
            contentApiKey: 'fdaf9fe0b5f7ca25d9a57d44b9',
            searchinghostOptions: {
                template: function (post) {
                    var o = `<a href="${post.url}">`
                    if (post.feature_image) o += `<img src="https://res.cloudinary.com/androidwedakarayo/image/fetch/w_281,h_160,c_fit,f_auto/${post.feature_image}?tr=h-160,w-281">`
                    o += '<section>'
                    if (post.tags.length > 0) {
                        o += `<header>
                        <span class="head-tags">${post.tags[0].name}</span>
                        <span class="head-date">${post.published_at}</span>
                    </header>`
                    } else {
                        o += `<header>
                        <span class="head-tags">UNKNOWN</span>
                        <span class="head-date">${post.published_at}</span>
                    </header>`
                    }
                    o += `<h2>${post.title}</h2>`
                    o += `</section></a>`
                    return o;
                }
            }
        });
    </script>

    {{!-- The #block helper will pull in data from the #contentFor other template files. In this case, there's some JavaScript which we only want to use in post.hbs, but it needs to be included down here, after jQuery has already loaded. --}}
    {{{block "scripts"}}}

    {{!-- Ghost outputs important scripts and data with this tag - it should always be the very last thing before the closing body tag --}}
    {{ghost_foot}}

</body>

</html>